:root {
    --primary-color:rgb(22,52,66);
    --white-color: #fff;
    --gap: 3rem;
    --light-gray-color:#EEE;
    --secondary-color:rgb(251 217 49);
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem
}
h5 {
    font-size: 4rem;
}
h6 {
    font-size: 3.5rem;
}
a {
    text-decoration: none;
} 

div h1 img {
    height: 4rem;
    width: 100%;
}
.main-bg {
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center center ;
    color: var(--white-color);
}
.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.section {
    min-height: 100vh;
}
.sectionabout {
    min-height: 150vh;
}

.menu-spacing {
    height: 6.5rem;
}
.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu ul {
    list-style: none;
    display: flex;
 
 }
 .menu h1 a {
     color: inherit;
     text-decoration: none;
 }
 .menu ul li a {
     display: block;
     padding: 2rem;
     font-size: 1.5rem;
     color: var(--primary-color);
     position: relative;
 }
 .menu ul li a::after {
     content:"";
     position: absolute;
     bottom:1rem;
     left: 50% ;
     width: 0;
     height: 0.2rem;
     background-color: var(--secondary-color);
     transition: all 400ms ease-in-out;
 }
 .menu ul li a:hover::after {
     width: 50%;
     left: 25%;
}
.inicio-content{
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    height: 100vh;
}

.ads-content{
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    height: 180vh;
}

.ccm-content{
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    height: 270vh;
}




.inicio-text-content, .inicio-img, .ads-text-content, .ads-video, .ccm-text-content, .ccm-video{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.about-content{
    max-width: 90rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 160vh;
    text-align: center;
    gap: var(--gap);
    top: -8rem;
    position: relative;

}
.about-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inicio-img img{
    max-width: 100%;
    height: auto;
}
.ads-video video{
    max-width: 100%;
    height: auto;
}
.ccm-video video{
    max-width: 100%;
    height: auto;
}
article h4 a {
    color: inherit;
}
